* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-family: arial;
}

a:active {
  color: rgb(96, 213, 4);
}

a:visited {
  color: rgb(209, 195, 7);
}

a:hover {
  color: rgb(232, 56, 80);
}

#navbar {
  max-width: 2000px;
  width: 100%;
  background-color: #5E65F7;
  height: 100px;
  position: fixed;
  box-shadow: 3px;
  box-shadow: 10px 10px rgba(177, 177, 177, 0.5);
}

#nav1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: rgb(215, 215, 215);
}

.navcont1 {
  margin: auto;
  display: flex;
  width: 75%;
  justify-content: center;
}

.midnav {
  justify-content: space-between;
  display: flex;
  width: 300px;
}

.navcont1>div>a {
  text-decoration: none;
}

.navcont2 {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.nav2 {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search {
  background-color: #e8e8e8;
  width: 80%;
  height: 40px;
  font-size: 26px;
  box-sizing: border-box;
}

.searchimg {
  margin-left: 5px;
  cursor: pointer;
}
.links{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  font-size: 1em;
}
.links:hover {

  background-color: #cccccc;
  color:#f74a4a;
  border-radius: 5px;
  transition-duration: 0.5s;
  filter: blur(0);
}

.droplist a {
  position: static;
  line-height: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 200px;
  margin-left: 15px;
  font-size: 1.2em;
  padding: 10px;
}

.dropbtn {
  background-color: rgb(102, 115, 237);
  color: white;
  line-height: 50px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus,
.dropbtn2:hover, .dropbtn2:focus {
  background-color: rgb(102, 115, 238);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  overflow: scroll;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

.um {
  display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  #nav1{
    height: 0px;
  }
  .navcont1 {
    display: none;
  }

  .navcont2 {
    display: none;
  }

  .radlogo {
    display: none;
  }

  .dropbtn {
    display: none;
  }

  .um {
    display: block;
  }

  #search {
    /*max-width: 300px;*/
    margin-left: 0px;
    margin-right: 5PX;
  }
  .navbackfill {
    width: 100%;
    height: 90px;
}

}


