/* * {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url(Facade_4x3-min.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#back h1 {
  font-size: 20px
}

#header {
  background-color: #15E9B5;
  width: 100%;
  height: 400px;
  background-image: url(pexels-photo-247759.jpeg);
  -webkit-background-size: cover;
  background-size: cover;
}

#hl {
  display: flex;
}

#logo {
  display: flex;
  transform: translateY(100px);
  width: 100%;
}
#heading {
  width: ;
  margin-left: 300px;
}

#container {
  height: 500px;
  display: flex;
}

#blank {
  border-top: 0px solid;
  height: 100px;
  background: radial-gradient(#ff80ff 10%, #ffcccc 35%, #ffb3b3 55%);
  margin: auto;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

#blank ol li i {
  margin-bottom: 10px;
  font-size: 18px;
  width: 95%;
}

#news {
  height: 95%;
  width: 20%;
  margin-right: 20px;
  margin-top: 0px;
  background: radial-gradient(#ffe6e6 10%, #ffcccc 35%, #ffb3b3 55%);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  opacity: 0.9;
}

#maincont {
  border: 1px solid;
  width: 78%;
  height: 95%;
  background: radial-gradient(#ffeecc 10%, #ffe6b3 35%, #ffdd99 55%);
  border-radius: 14px;
  opacity: 0.9;
}

#largehotel {
  text-align: center;
  color: #105;
  display: block;
  border-bottom: 2px groove #E035AF;
}

#footer {
  border: 1px solid;
  height: 300px;
  background-color: burlywood;
}

#card {
  border: 1px solid red;
  height: 280px;
  width: 500px;
  left: 32%;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: 0.5s;
}

#front {
  position: absolute;
  backface-visibility: hidden;
  background-color: #fff;
  transform: rotateY(0deg);
  transition: 0.5s;
  height: 100%;
  width: 100%;
}

#card:hover #front {
  transform: rotateY(-180deg);
}

#back {
  position: absolute;
  backface-visibility: hidden;
  background-color: #fff;
  transform: rotateY(180deg);
  transition: 0.5s;
  height: 100%;
  width: 100%;
}

#card:hover #back {
  transform: rotateY(0deg);
}

#detail {
  position: absolute;
  top: 40%;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-50%);
}

#socialicon {
  padding: 10px 0;
}

#socialicon a {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #262626;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  font-size: 30px;
}

#socialicon a .fa {
  line-height: 60px;
}
*/
